/* body{
  background-image: url("https://img.freepik.com/free-vector/gradient-zoom-effect-blue-background_23-2149762303.jpg?size=626&ext=jpg&ga=GA1.1.540119389.1714397976&semt=ais_hybrid");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */